# `Import Necessary Library`

In [6]:
import os
import glob
import boto3, s3fs
from io import StringIO
import pandas as pd
from datetime import datetime
from pprint import pprint as pp

# s3 = boto3.client('s3')
s3 = boto3.resource('s3')
bucket_url = 's3://covid19-lake'
bucket_name = "covid19-lake"
folder = "rearc-covid-19-world-cases-deaths-testing/"

def save_to_s3(bucket, df, name):
    csv_buffer = StringIO()
    df.to_csv(csv_buffer)
    s3_resource = boto3.resource('s3')
    s3_resource.Object(bucket, name  + '.csv').put(Body=csv_buffer.getvalue())

# Get all Files in bucket

In [ ]:
s3 = boto3.resource('s3')
bucket = s3.Bucket('covid19-lake')


for obj in bucket.objects.all():
    key = obj.key
    # body = obj.get()['Body'].read()
    print(key)

# Load dataset to Pandas

Pass in the file s3 url and load the according to file type

In [9]:
path = bucket_url + '/' + folder + 'csv/covid-19-world-cases-deaths-testing.csv'
print(path)
df = pd.read_csv(path)

s3://covid19-lake/rearc-covid-19-world-cases-deaths-testing/csv/covid-19-world-cases-deaths-testing.csv

In [11]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-01-23,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,2020-01-24,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,2020-01-25,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,2020-01-26,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,2020-01-27,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59921 entries, 0 to 59920
Data columns (total 50 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   iso_code                            59608 non-null  object
 1   continent                           59294 non-null  object
 2   location                            59921 non-null  object
 3   date                                59921 non-null  object
 4   total_cases                         51168 non-null  float64
 5   new_cases                           59784 non-null  float64
 6   new_cases_smoothed                  58828 non-null  float64
 7   total_deaths                        43356 non-null  float64
 8   new_deaths                          59784 non-null  float64
 9   new_deaths_smoothed                 58828 non-null  float64
 10  total_cases_per_million             50870 non-null  float64
 11  new_cases_per_million               59471 non-null  float64
 12  new_cases_smoothed_per_million      58520 non-null  float64
 13  total_deaths_per_million            43071 non-null  float64
 14  new_deaths_per_million              59471 non-null  float64
 15  new_deaths_smoothed_per_million     58520 non-null  float64
 16  reproduction_rate                   39997 non-null  float64
 17  icu_patients                        4747 non-null   float64
 18  icu_patients_per_million            4747 non-null   float64
 19  hosp_patients                       5421 non-null   float64
 20  hosp_patients_per_million           5421 non-null   float64
 21  weekly_icu_admissions               444 non-null    float64
 22  weekly_icu_admissions_per_million   444 non-null    float64
 23  weekly_hosp_admissions              731 non-null    float64
 24  weekly_hosp_admissions_per_million  731 non-null    float64
 25  total_tests                         23722 non-null  float64
 26  new_tests                           23563 non-null  float64
 27  total_tests_per_thousand            23722 non-null  float64
 28  new_tests_per_thousand              23563 non-null  float64
 29  new_tests_smoothed                  26274 non-null  float64
 30  new_tests_smoothed_per_thousand     26274 non-null  float64
 31  positive_rate                       25025 non-null  float64
 32  tests_per_case                      24434 non-null  float64
 33  tests_units                         27263 non-null  object
 34  stringency_index                    52594 non-null  float64
 35  population                          59608 non-null  float64
 36  population_density                  58036 non-null  float64
 37  median_age                          56791 non-null  float64
 38  aged_65_older                       55845 non-null  float64
 39  aged_70_older                       56478 non-null  float64
 40  gdp_per_capita                      56784 non-null  float64
 41  extreme_poverty                     38868 non-null  float64
 42  cardiovasc_death_rate               57347 non-null  float64
 43  diabetes_prevalence                 58036 non-null  float64
 44  female_smokers                      44507 non-null  float64
 45  male_smokers                        43881 non-null  float64
 46  handwashing_facilities              29781 non-null  float64
 47  hospital_beds_per_thousand          52330 non-null  float64
 48  life_expectancy                     59295 non-null  float64
 49  human_development_index             57096 non-null  float64
dtypes: float64(45), object(5)
memory usage: 22.9+ MB