# Data Visualization on Coronavirus data
The purpose of this project is to learn more on webscraping, data cleaning, data modeling, data analysis and data Visualization using Bokeh. 

I have written an easy to understand make down for anyone who wants to follow the project. 

I started by getting the data on [worldmeters.info](https://www.worldometers.info/coronavirus/) and cleaning up the data using pandas

After clean up, I modeled the data into Continents for easy analysis

# Getting started and import necessary libraries

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
import re

url = "https://www.worldometers.info/coronavirus/"

source = requests.get(url).text
soup = BeautifulSoup(source, 'lxml')

## Get the whole data table

In [2]:
# this get the whole data table

table = soup.find("table", attrs={'id':'main_table_countries_today'})
# print(table)

In [3]:
# from the table, this extracts the column headings

table_head = table.thead.find_all('tr')
# print(table_head)

In [4]:
# this get the data from the table, the body

table_data = table.tbody.find_all('tr')
# print(table_data)

## Saving the column header into python variable

In [5]:
headings = []

for th in table_head[0].find_all("th"):
    a = th.text.replace('\n', ' ').strip()
    headings.append(a)

    print(a)

Country,Other
TotalCases
NewCases
TotalDeaths
NewDeaths
TotalRecovered
ActiveCases
Serious,Critical
TotÂ Cases/1M pop
Deaths/1M pop
TotalTests
Tests/ 1M pop
Continent

## Understanding The Data
This is just to understand and see how the data was scraped and how to save the data into pandas dataframe, it's `very important`

In [6]:
for tr in table_data:
    for what in tr.find_all('td'):
        print(what.text)
    print("\n___________________")

North America

1,186,679
+1,605
69,657
+138
188,999
928,023
16,479




North America

___________________

Europe

1,373,444

135,235

503,728
734,481
18,773




Europe

___________________

Asia

520,063
+13
18,610

265,564
235,889
5,726




Asia

___________________

South America

178,621
+1,807
8,807
+105
60,095
109,719
9,802




South America

___________________

Oceania

8,347
+15
112
+1
7,070
1,165
34




Australia/Oceania

___________________

Africa

39,785

1,638

13,078
25,069
126




Africa

___________________



721

15

645
61
4






___________________
World
3,307,660
+3,440
234,074
+244
1,039,179
2,034,407
50,944
424
30.0


All

___________________
USA
1,095,023

63,856

152,324
878,843
15,226
3,308
193
6,391,887
19,311
North America

___________________
Spain
239,639

24,543

137,984
77,112
2,676
5,125
525
1,455,306
31,126
Europe

___________________
Italy
205,463

27,967

75,945
101,551
1,694
3,398
463
1,979,217
32,735
Europe

___________________
UK
171,253

26,771

N/A
144,138
1,559
2,523
394
901,905
13,286
Europe

___________________
France
167,178

24,376

49,476
93,326
4,019
2,561
373
724,574
11,101
Europe

___________________
Germany
163,009

6,623

123,500
32,886
2,415
1,946
79
2,547,052
30,400
Europe

___________________
Turkey
120,204

3,174

48,886
68,144
1,514
1,425
38
1,033,617
12,255
Asia

___________________
Russia
106,498

1,073

11,619
93,806
2,300
730
7
3,490,000
23,915
Europe

___________________
Iran
94,640

6,028

75,103
13,509
2,976
1,127
72
463,295
5,516
Asia

___________________
Brazil
87,187
+1,807
6,006
+105
35,935
45,246
8,318
410
28
339,552
1,597
South America

___________________
Canada
53,236

3,184

21,423
28,629
557
1,411
84
806,449
21,367
North America

___________________
Belgium
48,519

7,594

11,576
29,349
769
4,186
655
237,963
20,532
Europe

___________________
Netherlands
39,316

4,795

N/A
34,271
783
2,295
280
219,744
12,824
Europe

___________________
Peru
36,976

1,051

10,405
25,520
651
1,121
32
318,252
9,652
South America

___________________
India
34,863

1,154

9,068
24,641

25
0.8
830,201
602
Asia

___________________
Switzerland
29,586

1,737

23,400
4,449
167
3,419
201
266,200
30,758
Europe

___________________
Portugal
25,045

989

1,519
22,537
172
2,456
97
395,771
38,814
Europe

___________________
Ecuador
24,934

900

1,558
22,476
146
1,413
51
69,054
3,914
South America

___________________
Saudi Arabia
22,753

162

3,163
19,428
123
654
5
200,000
5,745
Asia

___________________
Sweden
21,092

2,586

1,005
17,501
531
2,088
256
119,500
11,833
Europe

___________________
Ireland
20,612

1,232

13,386
5,994
123
4,174
250
153,954
31,179
Europe

___________________
Mexico
19,224
+1,425
1,859
+127
11,423
5,942
378
149
14
81,912
635
North America

___________________
Pakistan
16,473

361

4,105
12,007
111
75
2
174,160
788
Asia

___________________
Singapore
16,169

15

1,244
14,910
22
2,764
3
143,919
24,600
Asia

___________________
Chile
16,023

227

8,580
7,216
392
838
12
180,517
9,443
South America

___________________
Israel
15,946

222

8,561
7,163
105
1,842
26
364,467
42,108
Asia

___________________
Austria
15,452

584

12,907
1,961
128
1,716
65
256,399
28,469
Europe

___________________
Japan
14,088

430

2,460
11,198
308
111
3
165,609
1,309
Asia

___________________
Belarus
14,027

89

2,386
11,552
92
1,484
9
176,625
18,692
Europe

___________________
Qatar
13,409

10

1,372
12,027
72
4,654
3
94,500
32,801
Asia

___________________
Poland
12,877

644

3,236
8,997
160
340
17
338,027
8,931
Europe

___________________
UAE
12,481

105

2,429
9,947
1
1,262
11
1,122,000
113,443
Asia

___________________
Romania
12,240

717

4,017
7,506
221
636
37
175,374
9,116
Europe

___________________
S. Korea
10,765

247

9,059
1,459
55
210
5
619,881
12,091
Asia

___________________
Ukraine
10,406

261

1,238
8,907
138
238
6
111,859
2,558
Europe

___________________
Indonesia
10,118

792

1,522
7,804

37
3
94,599
346
Asia

___________________
Denmark
9,158

452

6,546
2,160
62
1,581
78
193,165
33,349
Europe

___________________
Serbia
9,009

179

1,343
7,487
71
1,031
20
85,645
9,802
Europe

___________________
Philippines
8,488

568

1,043
6,877
31
77
5
104,146
950
Asia

___________________
Norway
7,738

210

32
7,496
37
1,427
39
172,586
31,835
Europe

___________________
Czechia
7,682

236

3,314
4,132
68
717
22
242,088
22,606
Europe

___________________
Bangladesh
7,667

168

160
7,339
1
47
1
64,666
393
Asia

___________________
Dominican Republic
6,972

301

1,301
5,370
144
643
28
25,368
2,339
North America

___________________
Australia
6,766
+12
93
+1
5,739
934
31
265
4
581,941
22,821
Australia/Oceania

___________________
Panama
6,532
+154
188
+10
576
5,768
86
1,514
44
30,749
7,126
North America

___________________
Colombia
6,507

293

1,439
4,775
118
128
6
104,657
2,057
South America

___________________
Malaysia
6,002

102

4,171
1,729
40
185
3
160,296
4,953
Asia

___________________
South Africa
5,647

103

2,073
3,471
36
95
2
207,530
3,499
Africa

___________________
Egypt
5,537

392

1,381
3,764

54
4
90,000
879
Africa

___________________
Finland
4,995

211

3,000
1,784
48
902
38
93,900
16,947
Europe

___________________
Argentina
4,428

218

1,256
2,954
157
98
5
58,685
1,298
South America

___________________
Morocco
4,423

170

984
3,269
1
120
5
34,841
944
Africa

___________________
Kuwait
4,024

26

1,539
2,459
66
942
6
179,000
41,915
Asia

___________________
Algeria
4,006

450

1,779
1,777
22
91
10
6,500
148
Africa

___________________
Moldova
3,897

116

1,182
2,599
237
966
29
11,763
2,916
Europe

___________________
Luxembourg
3,784

90

3,213
481
23
6,045
144
42,643
68,122
Europe

___________________
Kazakhstan
3,402

25

866
2,511
41
181
1
249,527
13,289
Asia

___________________
Bahrain
3,040

8

1,500
1,532
1
1,787
5
129,694
76,220
Asia

___________________
Thailand
2,954

54

2,684
216
61
42
0.8
178,083
2,551
Asia

___________________
Hungary
2,775

312

581
1,882
54
287
32
72,951
7,552
Europe

___________________
Greece
2,591

140

1,374
1,077
38
249
13
75,170
7,212
Europe

___________________
Oman
2,348

11

495
1,842
17
460
2
40,459
7,923
Asia

___________________
Afghanistan
2,171

64

260
1,847
7
56
2
10,022
257
Asia

___________________
Iraq
2,085

93

1,375
617

52
2
92,061
2,289
Asia

___________________
Croatia
2,076

69

1,348
659
20
506
17
36,221
8,823
Europe

___________________
Ghana
2,074

17

212
1,845
4
67
0.5
113,497
3,653
Africa

___________________
Armenia
2,066

32

929
1,105
10
697
11
21,125
7,129
Asia

___________________
Uzbekistan
2,039

9

1,133
897
8
61
0.3
242,536
7,247
Asia

___________________
Nigeria
1,932

58

319
1,555
2
9
0.3
12,828
62
Africa

___________________
Cameroon
1,832

61

934
837
12
69
2


Africa

___________________
Azerbaijan
1,804

24

1,325
455
17
178
2
143,079
14,112
Asia

___________________
Iceland
1,797

10

1,670
117

5,266
29
48,413
141,873
Europe

___________________
Bosnia and Herzegovina
1,757

69

727
961
4
536
21
30,793
9,386
Europe

___________________
Estonia
1,689

52

249
1,388
9
1,273
39
52,741
39,758
Europe

___________________
Bulgaria
1,506

66

266
1,174
40
217
9
45,208
6,506
Europe

___________________
Cuba
1,501

61

681
759
10
133
5
47,347
4,180
North America

___________________
Guinea
1,495

7

329
1,159

114
0.5


Africa

___________________
New Zealand
1,479
+3
19

1,252
208
1
307
4
139,898
29,011
Australia/Oceania

___________________
North Macedonia
1,465

77

738
650
13
703
37
16,050
7,704
Europe

___________________
Slovenia
1,429

91

233
1,105
22
687
44
52,948
25,469
Europe

___________________
Slovakia
1,396

23

524
849
8
256
4
85,922
15,738
Europe

___________________
Lithuania
1,385

45

589
751
17
509
17
125,555
46,121
Europe

___________________
Ivory Coast
1,275

14

574
687

48
0.5
9,657
366
Africa

___________________
Bolivia
1,110

59

117
934
3
95
5
5,791
496
South America

___________________
Djibouti
1,089

2

642
445

1,102
2
13,422
13,585
Africa

___________________
Hong Kong
1,038

4

846
188
4
138
0.5
154,989
20,674
Asia

___________________
Tunisia
994

41

305
648
24
84
3
22,957
1,942
Africa

___________________
Senegal
933

9

334
590
1
56
0.5
466
28
Africa

___________________
Latvia
858

15

348
495
3
455
8
57,886
30,689
Europe

___________________
Cyprus
850

15

296
539
15
704
12
58,109
48,129
Asia

___________________
Albania
773

31

470
272
4
269
11
8,253
2,868
Europe

___________________
Honduras
771

71

79
621
10
78
7
3,643
368
North America

___________________
Kyrgyzstan
746

8

462
276
12
114
1
51,472
7,889
Asia

___________________
Andorra
745

42

468
235
17
9,642
544
1,673
21,653
Europe

___________________
Lebanon
725

24

150
551
44
106
4
34,499
5,054
Asia

___________________
Niger
719

32

452
235

30
1
5,194
215
Africa

___________________
Costa Rica
719

6

338
375
8
141
1
13,240
2,599
North America

___________________
Diamond Princess
712

13

645
54
4






___________________
Sri Lanka
663

7

154
502
1
31
0.3
21,157
988
Asia

___________________
Burkina Faso
645

43

506
96

31
2


Africa

___________________
Uruguay
643

17

417
209
10
185
5
19,747
5,685
South America

___________________
Somalia
601

28

31
542
2
38
2


Africa

___________________
Guatemala
585

16

65
504
5
33
0.9
7,200
402
North America

___________________
DRC
572

31

73
468

6
0.3


Africa

___________________
San Marino
569

41

78
450
6
16,769
1,208
2,305
67,932
Europe

___________________
Georgia
539

6

184
349
6
135
2
14,718
3,689
Asia

___________________
Mayotte
539

4

235
300
4
1,976
15
3,000
10,996
Africa

___________________
Channel Islands
537

40

386
111

3,089
230
5,342
30,725
Europe

___________________
Mali
490

26

135
329

24
1
2,172
107
Africa

___________________
Tanzania
480

16

167
297
7
8
0.3


Africa

___________________
Maldives
468

1

17
450
2
866
2
8,008
14,815
Asia

___________________
Malta
465

4

351
110
1
1,053
9
32,989
74,713
Europe

___________________
Jordan
453

8

362
83
5
44
0.8
63,737
6,247
Asia

___________________
Sudan
442

31

39
372

10
0.7


Africa

___________________
Taiwan
429

6

322
101

18
0.3
62,844
2,639
Asia

___________________
Jamaica
422
+26
8
+1
29
385
3
143
3
4,439
1,499
North America

___________________
RÃ©union
420



300
120
2
469



Africa

___________________
Kenya
396

17

144
235
2
7
0.3
20,268
377
Africa

___________________
El Salvador
395

10

119
266
3
61
2
24,057
3,709
North America

___________________
Palestine
344

2

76
266

67
0.4
32,200
6,312
Asia

___________________
Venezuela
333

16

142
175
2
12
0.6
458,737
16,132
South America

___________________
Mauritius
332

10

310
12
3
261
8
16,028
12,603
Africa

___________________
Montenegro
322

7

214
101
2
513
11
6,864
10,929
Europe

___________________
Isle of Man
315

21

260
34
21
3,704
247
3,117
36,656
Europe

___________________
Equatorial Guinea
315

1

9
305

225
0.7
854
609
Africa

___________________
Gabon
276

3

67
206
1
124
1
724
325
Africa

___________________
Vietnam
270



219
51
8
3

261,004
2,681
Asia

___________________
Paraguay
249

9

111
129
1
35
1
9,454
1,325
South America

___________________
Rwanda
243



104
139

19

9,604
741
Africa

___________________
Congo
220

9

19
192

40
2


Africa

___________________
Guinea-Bissau
205

1

19
185

104
0.5
1,500
762
Africa

___________________
Faeroe Islands
187



184
3

3,827

6,963
142,500
Europe

___________________
Martinique
178

14

83
81
5
474
37


North America

___________________
Guadeloupe
151

12

95
44
11
377
30


North America

___________________
Myanmar
151
+1
6

27
118

3
0.1
7,718
142
Asia

___________________
Gibraltar
144



131
13

4,274

2,626
77,944
Europe

___________________
Liberia
141

16

45
80

28
3


Africa

___________________
Brunei
138

1

124
13
2
315
2
13,580
31,041
Asia

___________________
Ethiopia
131

3

59
69

1
0.03
17,842
155
Africa

___________________
Madagascar
128



92
36
1
5

3,228
117
Africa

___________________
French Guiana
126

1

94
31
2
422
3


South America

___________________
Sierra Leone
124

7

21
96

16
0.9


Africa

___________________
Cambodia
122



119
3
1
7

12,084
723
Asia

___________________
Cabo Verde
121

1

4
116

218
2
791
1,423
Africa

___________________
Togo
116

9

65
42

14
1
6,882
831
Africa

___________________
Trinidad and Tobago
116

8

72
36

83
6
1,730
1,236
North America

___________________
Bermuda
114

6

48
60
4
1,831
96
2,500
40,143
North America

___________________
Zambia
106

3

55
48
1
6
0.2
5,284
287
Africa

___________________
Aruba
100

2

79
19
4
937
19
1,691
15,838
North America

___________________
Eswatini
100

1

12
87

86
0.9
714
615
Africa

___________________
Monaco
95

4

64
27
1
2,421
102


Europe

___________________
Uganda
83



52
31

2

29,279
640
Africa

___________________
Guyana
82

9

22
51
2
104
11
579
736
South America

___________________
Liechtenstein
82

1

55
26

2,151
26
900
23,605
Europe

___________________
Bahamas
81

11

25
45
1
206
28
1,284
3,265
North America

___________________
Haiti
81

8

8
65

7
0.7
827
73
North America

___________________
Barbados
81

7

39
35
4
282
24
2,160
7,516
North America

___________________
Mozambique
76



12
64

2

1,896
61
Africa

___________________
Sint Maarten
75

13

33
29
7
1,749
303
302
7,044
North America

___________________
Chad
73

5

33
35

4
0.3


Africa

___________________
Cayman Islands
73

1

10
62
3
1,111
15
1,535
23,356
North America

___________________
Benin
64

1

33
30

5
0.08


Africa

___________________
Libya
61

3

18
40

9
0.4
1,949
284
Africa

___________________
French Polynesia
58



50
8
1
206

2,409
8,576
Australia/Oceania

___________________
Nepal
57



16
41

2

57,189
1,963
Asia

___________________
CAR
50



10
40

10



Africa

___________________
Macao
45



35
10
1
69



Asia

___________________
Syria
43

3

21
19

2
0.2


Asia

___________________
Zimbabwe
40

4

5
31

3
0.3
7,642
514
Africa

___________________
Eritrea
39



26
13

11



Africa

___________________
Saint Martin
38

3

24
11
3
983
78


North America

___________________
Mongolia
38



10
28

12

7,455
2,274
Asia

___________________
Malawi
37

3

7
27
1
2
0.2
774
40
Africa

___________________
South Sudan
35




35

3



Africa

___________________
Angola
27

2

7
18

0.8
0.06


Africa

___________________
Antigua and Barbuda
24

3

11
10
1
245
31
113
1,154
North America

___________________
Timor-Leste
24



16
8

18

322
244
Asia

___________________
Botswana
23

1

5
17

10
0.4
6,548
2,784
Africa

___________________
Grenada
20



13
7
4
178

1,406
12,495
North America

___________________
Laos
19



8
11

3

1,927
265
Asia

___________________
Belize
18

2

9
7
1
45
5
995
2,502
North America

___________________
Fiji
18



12
6

20

1,007
1,123
Australia/Oceania

___________________
New Caledonia
18



17
1
1
63

4,456
15,608
Australia/Oceania

___________________
Saint Lucia
17



15
2

93

446
2,429
North America

___________________
CuraÃ§ao
16

1

13
2

98
6
343
2,090
North America

___________________
Dominica
16



13
3

222

383
5,320
North America

___________________
Namibia
16



8
8

6

704
277
Africa

___________________
St. Vincent Grenadines
16



8
8

144

108
973
North America

___________________
Saint Kitts and Nevis
15



6
9

282

293
5,508
North America

___________________
Tajikistan
15




15

2



Asia

___________________
Nicaragua
14

3

7
4

2
0.5


North America

___________________
Sao Tome and Principe
14



4
10

64

19
87
Africa

___________________
Falkland Islands
13



11
2

3,736

372
106,897
South America

___________________
Turks and Caicos
12

1

5
6

310
26
83
2,144
North America

___________________
Burundi
11

1

4
6

0.9
0.08
284
24
Africa

___________________
Gambia
11

1

8
2

5
0.4
401
166
Africa

___________________
Montserrat
11

1

2
8
1
2,204
200
36
7,212
North America

___________________
Greenland
11



11
0

194

1,258
22,160
North America

___________________
Vatican City
11



2
9

13,733



Europe

___________________
Seychelles
11



6
5

112



Africa

___________________
Suriname
10

1

8
1

17
2
404
689
South America

___________________
MS Zaandam
9

2


7







___________________
Mauritania
8

1

6
1

2
0.2
1,032
222
Africa

___________________
Papua New Guinea
8




8

0.9

604
68
Australia/Oceania

___________________
Bhutan
7



5
2

9

10,045
13,018
Asia

___________________
Yemen
6

2

1
3

0.2
0.07
120
4
Asia

___________________
British Virgin Islands
6

1

3
2

198
33


North America

___________________
St. Barth
6



6
0

607



North America

___________________
Western Sahara
6



5
1

10



Africa

___________________
Caribbean Netherlands
5




5

191

110
4,195
North America

___________________
Anguilla
3



3
0

200



North America

___________________
Comoros
1




1

1



Africa

___________________
Saint Pierre Miquelon
1




1

173



North America

___________________
China
82,874
+12
4,633

77,642
599
38
58
3


Asia

___________________

In [7]:
# now that we understand the data, we can structure the data

data = []
for tr in table_data:
    t_row = {}
    # Each table row is stored in the form of
    # t_row = {'Country/Other': '', 'TotalCases': '', 'NewCases': ''...} 

    # find all td's in tr and zip it with headings

    for td, th in zip(tr.find_all("td"), headings): 
        t_row[th] = td.text.replace('\n', '').strip()
    data.append(t_row)

## Check
Checking if data is structured as it should, `this is also very important`

In [8]:
# for t in data:
#     for k, v in t.items():
#         print(v)
#     print("_________\n")

## Transform data
Transform data into pandas dataframe and start data clean up and manipulation

In [9]:
df = pd.DataFrame(data)

# modify data to ease data manipulation (you need to first view data) 
df.columns = df.columns.str.replace('Serious,', '').str.replace(',Other','').str.replace(' ','')
df.set_index('Country', inplace=True)
df.rename(index={"":"Others"}, inplace=True)

# view data again to check if changes were made correctly 
df.head(10)

,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,Critical,TotÂ Cases/1Mpop,Deaths/1Mpop,TotalTests,Tests/1Mpop,Continent
Country,,,,,,,,,,,,
North America,"1,186,679","+1,605","69,657",+138,"188,999","928,023","16,479",,,,,North America
Europe,"1,373,444",,"135,235",,"503,728","734,481","18,773",,,,,Europe
Asia,"520,063",+13,"18,610",,"265,564","235,889","5,726",,,,,Asia
South America,"178,621","+1,807","8,807",+105,"60,095","109,719","9,802",,,,,South America
Oceania,"8,347",+15,112,+1,"7,070","1,165",34,,,,,Australia/Oceania
Africa,"39,785",,"1,638",,"13,078","25,069",126,,,,,Africa
Others,721,,15,,645,61,4,,,,,
World,"3,307,660","+3,440","234,074",+244,"1,039,179","2,034,407","50,944",424,30.0,,,All
USA,"1,095,023",,"63,856",,"152,324","878,843","15,226","3,308",193,"6,391,887","19,311",North America
Spain,"239,639",,"24,543",,"137,984","77,112","2,676","5,125",525,"1,455,306","31,126",Europe

In [10]:
# more views to understand data better
df.tail(10)

,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,Critical,TotÂ Cases/1Mpop,Deaths/1Mpop,TotalTests,Tests/1Mpop,Continent
Country,,,,,,,,,,,,
Bhutan,7,,,,5,2,,9,,"10,045","13,018",Asia
Yemen,6,,2,,1,3,,0.2,0.07,120,4,Asia
British Virgin Islands,6,,1,,3,2,,198,33,,,North America
St. Barth,6,,,,6,0,,607,,,,North America
Western Sahara,6,,,,5,1,,10,,,,Africa
Caribbean Netherlands,5,,,,,5,,191,,110,"4,195",North America
Anguilla,3,,,,3,0,,200,,,,North America
Comoros,1,,,,,1,,1,,,,Africa
Saint Pierre Miquelon,1,,,,,1,,173,,,,North America
China,"82,874",+12,"4,633",,"77,642",599,38,58,3,,,Asia

In [11]:
# getting data (empty and Datatype) 
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 222 entries, North America to China
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TotalCases       222 non-null    object
 1   NewCases         222 non-null    object
 2   TotalDeaths      222 non-null    object
 3   NewDeaths        222 non-null    object
 4   TotalRecovered   222 non-null    object
 5   ActiveCases      222 non-null    object
 6   Critical         222 non-null    object
 7   TotÂ Cases/1Mpop  222 non-null    object
 8   Deaths/1Mpop     222 non-null    object
 9   TotalTests       222 non-null    object
 10  Tests/1Mpop      222 non-null    object
 11  Continent        222 non-null    object
dtypes: object(12)
memory usage: 11.3+ KB

# Cleaning data
Clearly, the data looks useless as all column datatypes are `string`. To convert data type, data must first be cleaned and ready for conversion.
* I drop the columns that are not considered in this visualization
* I cleaned the data using `regexp` by finding patterns in the data

In [12]:
# # Removed character symbols
for column in df.columns:
    df[column] = df[column].str.replace(r"[^\.a-zA-Z0-9_]", '')

use_column = ['TotalCases', 'NewCases', 'TotalDeaths', 'NewDeaths', 'TotalRecovered', 'ActiveCases', 'Critical', 'TotalTests', 'Continent']
df = df[use_column]
    
# print out data to see if it works
# df

# Modifying Data and Datatype conversion
To convert the datatype, I can either:
* convert all missing values `(na)` to zero and convert columns to int datatype, or
* Leave the missing values and convert columns to a float datatype `(best practice)`, or
* convert all missing values to zero and convert columns to float

`Important Note`: Missing values must be uniform to perfectly clean the data. The Data has to be understood well enough. In this the missing data is `"NA"` and `None or empty strings`

In [13]:
# a["Continent"] = a.replace("" ,"Others") 
df = df.replace("NA", np.nan)
df = df.replace("", np.nan)
df.fillna(value={"Continent":"Others"}, inplace=True)
df.fillna(0, inplace=True)
df.head(10)

,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,Critical,TotalTests,Continent
Country,,,,,,,,,
North America,1186679,1605,69657,138,188999,928023,16479,0,NorthAmerica
Europe,1373444,0,135235,0,503728,734481,18773,0,Europe
Asia,520063,13,18610,0,265564,235889,5726,0,Asia
South America,178621,1807,8807,105,60095,109719,9802,0,SouthAmerica
Oceania,8347,15,112,1,7070,1165,34,0,AustraliaOceania
Africa,39785,0,1638,0,13078,25069,126,0,Africa
Others,721,0,15,0,645,61,4,0,Others
World,3307660,3440,234074,244,1039179,2034407,50944,0,All
USA,1095023,0,63856,0,152324,878843,15226,6391887,NorthAmerica
Spain,239639,0,24543,0,137984,77112,2676,1455306,Europe

In [14]:

df.tail(10)

,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,Critical,TotalTests,Continent
Country,,,,,,,,,
Bhutan,7,0,0,0,5,2,0,10045,Asia
Yemen,6,0,2,0,1,3,0,120,Asia
British Virgin Islands,6,0,1,0,3,2,0,0,NorthAmerica
St. Barth,6,0,0,0,6,0,0,0,NorthAmerica
Western Sahara,6,0,0,0,5,1,0,0,Africa
Caribbean Netherlands,5,0,0,0,0,5,0,110,NorthAmerica
Anguilla,3,0,0,0,3,0,0,0,NorthAmerica
Comoros,1,0,0,0,0,1,0,0,Africa
Saint Pierre Miquelon,1,0,0,0,0,1,0,0,NorthAmerica
China,82874,12,4633,0,77642,599,38,0,Asia

## Convert columns datatype
* Depending on the the datatype needed, you can convert to `int` or `float` and data will work fine
* I converted the datatype to `float ` here as it is easy to use 
* It is important to catch error here because not all columns can't be converted

In [15]:
for column in df.columns:
    try:
        df[column] = df[column].astype("float")
    except Exception as e:
        print("Column datatype cannot be converted\n") 
    # a[column] =  df[column].map(lambda x: re.sub(r'[^\.a-zA-Z0-9_]', '', x))

Column datatype cannot be converted

In [16]:
# Check if it worked
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 222 entries, North America to China
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   TotalCases      222 non-null    float64
 1   NewCases        222 non-null    float64
 2   TotalDeaths     222 non-null    float64
 3   NewDeaths       222 non-null    float64
 4   TotalRecovered  222 non-null    float64
 5   ActiveCases     222 non-null    float64
 6   Critical        222 non-null    float64
 7   TotalTests      222 non-null    float64
 8   Continent       222 non-null    object
dtypes: float64(8), object(1)
memory usage: 15.6+ KB

## Save Cleaned data

In [17]:
# df.to_csv("coronadata.csv")

## Preparing Data for analyse

In [18]:
# In here, the is cleaned but not suitable for analyse
# The continent is list in the country column
df.reset_index(inplace=True)

stop = ""
con = []


for stop in df["Country"]:

    if stop == "USA":
       break       
    con.append(stop)

col = []


for stop in df.columns:
    
    col.append(stop)
    if stop == "Critical":
       break

all_country = df[ df["Country"].isin(con) == False]

# I modelled the data into diff table using the continents
* This is just to have data for each continents

In [19]:
continent = df[ df["Country"].isin(con[:-1]) ]
continent = continent[col]

north_america = all_country[ all_country["Continent"] == "NorthAmerica"]

europe = all_country[ all_country["Continent"] == "Europe"]

asia = all_country[ all_country["Continent"] == "Asia"]

south_america = all_country[ all_country["Continent"] == "SouthAmerica"]

oceania = all_country[ all_country["Continent"] == "AustraliaOceania"]

africa = all_country[ all_country["Continent"] == "Africa"]

others = all_country[ all_country["Continent"] == "Others"]

# We now our data ready for analysis
* We have now cleaned the data and it is now perfect for analysis
* Import neccessary library to get the analysis and visualization done

In [20]:
%matplotlib inline
from math import pi

import csv
import matplotlib.pyplot as plt
from math import fsum
from urllib.request import urlopen
from bs4 import BeautifulSoup

from bokeh.plotting import figure,output_file, output_notebook, show
from bokeh.models import ColumnDataSource, ranges, LabelSet, HoverTool
from bokeh.layouts import gridplot
from bokeh.transform import cumsum

tools = "wheel_zoom, reset, save"


# Display plot in jupiter notebook
output_notebook()

blue    = '#008fd5'
red     = '#fc4f30'
yellow  = '#e5ae37'
green   = '#6d904f'
skye    = '#33D1FF'
pink    = "#FF338A"
lgreen  = '#99FF33'

colours = [blue, red, yellow,green, skye, pink, lgreen]

width = 600
heigth = 400

In [21]:
pies = all_country[["Country", 'ActiveCases','TotalRecovered', 'TotalDeaths']]
pies.set_index('Country', inplace=True)



# output_file("pie.html")


col_sum = []
for col in pies.sum(axis = 0, skipna = True):
    col_sum.append(col)

active       = col_sum[0]
recovered    = col_sum[1]
death        = col_sum[2] 

#  Calculating percentage
sum_all = fsum(col_sum)
aper    = "{0:.2f}%".format((active/sum_all)*100)
rper    = "{0:.2f}%".format((recovered/sum_all)*100)
dper    = "{0:.2f}%".format((death/sum_all)*100)




percent = {"value": [aper, rper, dper]}
# Setting data
x = { 
    'Active - ' + aper: active,
    'Recovered - ' + rper: recovered,
    'Deaths - ' + dper: death   
}

colors = [blue, green,  red]

data = pd.Series(x).reset_index(name='value').rename(columns={'index':'Case'})
# data['label'] = percent
data['angle'] = data['value']/data['value'].sum() * 2*pi
data['color'] = colors[:len(x)]

source = ColumnDataSource(data)

pie = figure(plot_height=350, title="COVID-19 cases overview", toolbar_location=None,
           tools=tools,
           x_range=(-0.5, 1.0))

pie.wedge(x=0, y=1, radius=0.4,
        start_angle=cumsum('angle', include_zero=True),
        end_angle=cumsum('angle'),
        line_color="white",
        fill_color = "color",
        legend_field='Case', 
        source=source)

hover = HoverTool()
hover.tooltips = """
    <div>
        <h3>@Case</h3>
        <h3>Total: @value</h3>
    </div>

"""

pie.axis.axis_label=None
pie.axis.visible=False
pie.grid.grid_line_color = None
pie.add_tools(hover)

# show(pie)

# DATA VISUALISATION FOR THE TOTAL, DEATH and RECOVERED CASES

* Here, I was preparing data for the cases to be considered
* I only used the top 20 of the data
* I printed it out to be sure

# Total Case

In [22]:
""" Total case discovered"""
# sort data by total cases in descending order
con_tc = all_country.sort_values(by='TotalCases')

# picking the last 20 countries
con_tc = con_tc.tail(20)

# Plot Axis
source = ColumnDataSource(con_tc)
x_tc = con_tc['Country']

# setting plot; y_range is used for x_tc because the data is categorical data
tc = figure(y_range=x_tc, 
            title="Total COVID19 cases",
            tools=tools,
            plot_width=width, 
            plot_height=heigth)

tc.hbar(y="Country", 
        right="TotalCases",
        height=0.5,
        hover_color=skye,
        left=0, 
        color="navy",
        source=source)

hover = HoverTool(
        tooltips=[
            ("Country", '@Country'),
            ("Total", "@TotalCases")
        ]
)


tc.add_tools(hover)

# show(tc)

# Total Death

In [23]:
 """ Total Death """
# sorting the data by total death in ascending order
con_td = all_country.sort_values(by='TotalDeaths')

# picking the last 20 countries
con_td = con_td.tail(20)

# Plot Axis
source = ColumnDataSource(con_td)
x_td = con_td['Country']

# setting plot; y_range is used for x_tc because the data is categorical data
td = figure(y_range=x_td, 
            tools=tools,
            title="Total COVID19 Deaths",
            plot_width=width, 
            plot_height=heigth)

td.hbar(y="Country", 
        right="TotalDeaths",
        height=0.5, 
        left=0, 
        color="red",
        hover_color=pink,        
        source=source)

hover = HoverTool(
        tooltips=[
            ("Country", '@Country'),
            ("Total Death", "@TotalDeaths")
        ]
)


td.add_tools(hover)

# show(td)

In [24]:
 """ Total Recovered """
# sorting the data by total death in ascending order
con_tr = all_country.sort_values(by='TotalRecovered')


# picking the last 20 countries
con_tr = con_tr.tail(20)

# Plot Axis
source = ColumnDataSource(con_tr)
x_tr = con_tr['Country']

# setting plot; y_range is used for x_tc because the data is categorical data
tr = figure(y_range=x_tr, 
            title="Total COVID19 Recovered cases",
            tools=tools,
            plot_width=width, 
            plot_height=heigth)

tr.hbar(y="Country", 
        right="TotalRecovered",
        height=0.5, 
        left=0, 
        color="green",
        hover_color=skye,
        source=source)

hover = HoverTool(
        tooltips=[
            ("Country", '@Country'),
            ("Total Recovered", "@TotalRecovered")
        ]
)


tr.add_tools(hover)

# show(tr)

# Printing Out the graphically output

In [25]:
# output_file("corona_dashboard.html")


grid = gridplot([  [pie], [tc], [td], [tr]  ])
show(grid)

# Getting insight to continent data

In [26]:
continent

,Country,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,Critical
0,North America,1186679.0,1605.0,69657.0,138.0,188999.0,928023.0,16479.0
1,Europe,1373444.0,0.0,135235.0,0.0,503728.0,734481.0,18773.0
2,Asia,520063.0,13.0,18610.0,0.0,265564.0,235889.0,5726.0
3,South America,178621.0,1807.0,8807.0,105.0,60095.0,109719.0,9802.0
4,Oceania,8347.0,15.0,112.0,1.0,7070.0,1165.0,34.0
5,Africa,39785.0,0.0,1638.0,0.0,13078.0,25069.0,126.0
6,Others,721.0,0.0,15.0,0.0,645.0,61.0,4.0

In [28]:
# con_data = continent[['Country', 'TotalCases', 'TotalDeaths', 'TotalRecovered']]


# Plot Axis
source = ColumnDataSource(continent)
x_tr = continent['Country']

# setting plot; y_range is used for x_tc because the data is categorical data
tcd = figure(x_range=x_tr, 
            title="Continental Death Case",
            tools=tools,
            plot_width=width, 
            plot_height=heigth)

tcd.vbar(x="Country", 
        top="TotalDeaths",
        width=0.70, 
    
        color="red",
        hover_color=skye,
        source=source)

hover = HoverTool(
        tooltips=[
            ("Country", '@Country'),
            ("Total Death", "@TotalDeaths")
        ]
)


tcd.add_tools(hover)

show(tcd)