In [ ]:
import pandas as pd
import mysql.connector
from mysql.connector import Error
from datetime import datetime

df = pd.read_csv('detail.csv')

# getting login details
user = df["user"].iloc[0]
password = df["password"].iloc[0]


# connection_config_dict = {
#         'user': 'pynative',
#         'password': 'pynative@123',
#         'host': '127.0.0.1',
#         'database': 'Electronics',
#         'raise_on_warnings': True,
#         'use_pure': False,
#         'autocommit': True,
#         'pool_size': 5
#     }

# Making Connection to database

In [ ]:
try:
    conn = mysql.connector.connect(host='localhost', 
                                   user=user, 
                                   password=password, 
                                   db="employees", 
                                  autocommit=True)
    
    if conn.is_connected():
        db_info = conn.get_server_info()
        print("Connected to MySQL server version ", db_info)
        
        cur = conn.cursor()
        cur.execute("select database();")
        record = cur.fetchone()
        print("You are connected to database: ", record)
        
except Error as e:
    print("Error while conneting to MySQL: ", e)

# Creating Table

In [ ]:
cur.execute("drop table albums")

In [ ]:
try:
    query1 = """CREATE TABLE Transaction(
                Transaction_id INT NOT NULL PRIMARY KEY,
                Customer_name VARCHAR(12) NOT NULL
                );"""
    
    query2 = """CREATE TABLE  cashier(
                Cashier_id INT NOT NULL PRIMARY KEY,
                Cashier_name VARCHAR(12) NOT NULL
                );"""
    
    query3 = """CREATE TABLE  Albums(
                Album_id INT NOT NULL PRIMARY KEY,
                Album_name VARCHAR(25) NOT NULL,
                Year INT NOT NULL
                );"""
    
#     cur.execute(query1)
#     cur.execute(query2)
    cur.execute(query3)
    
    print(f'Table were created succesfully')
    
except Exception as e:
    print(e)

In [ ]:
# printing out table in the working database
table = pd.read_sql_query("SHOW TABLES", conn)
table

# INSERTING SINGLE RECORD

In [ ]:
single insertion in to table

try:
    query = """INSERT INTO Laptop
                VALUES(
                10, "Lenove ThonkPad P71", 6459, "2019-08-14"
                )             
            """
    
    cur.execute(query)
    
    cur.execute("show tables")
    
    print(f"{cur.rowcount}, Inserted into laptop table successfully")
    
except Exception as e:
    print(e)

# INSERTING MULTIPLE RECORDS

In [ ]:
inserting multiple rows using CURSOR'S executemany

try:
    query = """ INSERT INTO laptop (id, name, price, purchase_date)
            VALUES (%s, %s, %s, %s)
    """

    records_to_insert = [(4, 'HP Pavilion Power', 1999, '2019-01-11'),
                     (5, 'MSI WS75 9TL-496', 5799, '2019-02-27'),
                     (6, 'Microsoft Surface', 2330, '2019-07-23')]



    cur.executemany(query, records_to_insert)

    print(f"{cur.rowcount}, Inserted into laptop table successfully")
    
except Error as e:
    print(e)

# inserting record using python PARAMITIZED function

In [ ]:
# insert record into laptop table
def insertRecord(id, name, year):
    try:
        query = """ INSERT INTO albums (album_id, album_name, year)
                VALUES (%s, %s, %s)
        """
        
#       setting the insertion using the function parameter  
        insert = (id, name, year)
        
#       passing the parameter as a varable in cursor execute  
        cur.execute(query, insert)
        
        print("\nRecord inserted successfully into albums Table")
    
    except Error as e:
        print(e)

# Declaring the input insetion procedure

In [ ]:
# declaring a function to insert a record into database
def inputs():
    id = int(input("What is the ID: "))
    name = input("Album name: ")
    year = int(input("album year: "))
    
    insertRecord(id, name, year)

# Calling insetion function using WHILE loop

In [ ]:
# inserting record into record using a parameterized function and a while loop
get_more = "y"

try:
    while get_more == "y":
    #     call function
        inputs() 
        get_more = input("\nDo you still want to enter more records? (y/n): ")
        
except Exception as e:
    print(e)

# Selecting table using pandas

In [ ]:
# printing out table record using pandas

lRecord = pd.read_sql_query("SELECT * FROM employees WHERE first_name='Georgi'", conn)
lRecord

<h1>Selecting query from table using FETCH</h1>

In [ ]:
try:
    select_query = "Select * from laptop"
    
    cur.execute(select_query)
    records = cur.fetchall() # store all record in RECORDS
    print("Total number of row in laptop is ",cur.rowcount)
    print("\nPrint row:")
    
    for row in records:
        print(row)
except Exception as e:
    print(e)

# Making python function to select from SQL using id

In [ ]:
# USING PYTHON TO SELECT FOR SQL
def getData(id):
    try:
        select_query = """
                        SELECT
                            *
                            
                        FROM
                            laptop
                        WHERE id = %s
        """
        cur.execute(select_query, (id,))
        record = cur.fetchall()
        
        for row in record:
            print(f"id: {row[0]}\nName: {row[1]}\nJPrice: {row[2]}\nPurchase Date: {row[3]}")
    except Exception as e:
        print(e)

# Calling select function using WHILE loop

In [ ]:
# USING THE PYTHON SELECT FUNCTION WITH id
get_more = "y"

try:
    while get_more == "y":
        id = int(input("Enter id: "))

    #     call function
        getData(id) 
        get_more = input("\nDo you still want to enter more records? (y/n): ")
        
except Exception as e:
    print(e)

# Updating MySQL database

In [ ]:
try:
    select_query = ' SELECT * FROM laptop WHERE id=1 '
                        
    print("Before updating record: ", end="")
    cur.execute(select_query)
    record = cur.fetchone()
    print(record)
    
    update_query = ' UPDATE laptop SET price=7000 WHERE id=1 '
    cur.execute(update_query)
    
    print("After updating: ", end="")
    cur.execute(select_query)
    record = cur.fetchone()
    print(record)
except Exception as e:
    print(e)

# Using PYHTON to update in SQL
<p>This is used to update price using item ID as the identifier</p>

In [ ]:
def updateTable(id, price):
    inputData = (price, id)
    try:
        select_query = ' SELECT * FROM laptop WHERE id=%s '

        print("\nBefore updating record: ", end="")
        cur.execute(select_query, (id,))
        record = cur.fetchone()
        print(record)

        update_query = ' UPDATE laptop SET price=%s WHERE id=%s '
        cur.execute(update_query, inputData)

        print("After updating: ", end="")
        cur.execute(select_query, (id,))
        record = cur.fetchone()
        print(record)
    except Exception as e:
        print(e)

# Updating multiple row in single query using executemany

In [ ]:
try:
    update_query = ' UPDATE laptop SET price=%s WHERE id=%s '
    records_to_update = [(3000, 3), (2750, 4)]
    
    cur.executemany(update_query, records_to_update)
    print(f"{cur.rowcount} records updated successfully")
    
except Exception as e:
    print(e)

# Updating multipe column

In [ ]:
try:
    update_query = ' UPDATE laptop SET Name=%s, price=%s WHERE id=%s '
    
    name = "HP Pavilion"
    price = 2200
    id = 4
    inputs = (name, price, id)
    
    cur.execute(update_query, inputs)
    print("Multiple column in record updated successfully")

except Exception as e:
    print(e)

# Calling update function using WHILE loop

In [ ]:
# USING THE PYTHON SELECT FUNCTION WITH id
update_more = "y"

try:
    while update_more == "y":
        id = int(input("Enter id: "))
        price = int(input("Enter price: "))

    #     call function
        updateTable(id, price) 
        update_more = input("\nDo you still want to update more price? (y/n): ")
        
except Exception as e:
    print(e)