In [1]:
%load_ext sql

conn = 'postgresql://dwhuser:Dwh67905355@dwhcluster.coyjq1h1a8pm.us-west-2.redshift.amazonaws.com:5439/dwh'

In [2]:
%sql $conn

'Connected: dwhuser@dwh'

In [3]:
%sql SELECT * FROM staging_events_table LIMIT 5;

* postgresql://dwhuser:***@dwhcluster.coyjq1h1a8pm.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(None, 'Logged Out', None, None, 0, None, None, 'free', None, 'PUT', 'Login', None, 52, None, 307, Decimal('1541207073796'), None, None),
 (None, 'Logged In', 'Celeste', 'F', 1, 'Williams', None, 'free', 'Klamath Falls, OR', 'GET', 'Home', Decimal('1541077528796'), 52, None, 200, Decimal('1541207123796'), '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Mynt', 'Logged In', 'Celeste', 'F', 2, 'Williams', Decimal('166'), 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', Decimal('1541077528796'), 52, 'Playa Haters', 200, Decimal('1541207150796'), '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Taylor Swift', 'Logged In', 'Celeste', 'F', 3, 'Williams', Decimal('230'), 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', Decimal('1541077528796'), 52, 'You Belong With Me', 200, Decimal('1541207316796'), '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Amy Winehouse', 'Logged In', 'Celeste', 'F', 4, 'Williams', Decimal('229'), 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', Decimal('1541077528796'), 52, 'Valerie', 200, Decimal('1541207546796'), '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53)]

In [4]:
%sql SELECT * FROM staging_songs_table LIMIT 5;

* postgresql://dwhuser:***@dwhcluster.coyjq1h1a8pm.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(1, 'AR1C2IX1187B99BF74', None, None, '', 'Broken Spindles', 'SODZYPO12A8C13A91E', 'Burn My Body (Album Version)', Decimal('177'), 0),
 (1, 'ARKULHT11C8A415E71', None, None, '', 'Jam Hsiao', 'SOYOWPX12AB018B46C', 'Green Door', Decimal('198'), 2009),
 (1, 'AR06EB01187FB40150', None, None, 'Berkeley, CA', 'NOFX', 'SOPIKEG12A58291636', 'Stickin In My Eye', Decimal('144'), 1992),
 (1, 'ARRQHXY11F4C83E430', None, None, '', 'Raheem Jamal', 'SOHKWBB12AB01874A3', 'Goodvibe', Decimal('221'), 0),
 (1, 'AR2DUAO1187B99DDA4', None, None, '', 'FC Kahuna', 'SOENQZW12AB017CB92', 'Growler', Decimal('422'), 2002)]

In [5]:
%sql SELECT * FROM users LIMIT 5;

* postgresql://dwhuser:***@dwhcluster.coyjq1h1a8pm.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(53, 'Celeste', 'Williams', 'F', 'free'),
 (95, 'Sara', 'Johnson', 'F', 'paid'),
 (95, 'Sara', 'Johnson', 'F', 'paid'),
 (44, 'Aleena', 'Kirby', 'F', 'paid'),
 (44, 'Aleena', 'Kirby', 'F', 'paid')]

In [6]:
%sql SELECT * FROM songs LIMIT 5;

* postgresql://dwhuser:***@dwhcluster.coyjq1h1a8pm.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOBIODA12A8C13CDAD', 'Cradle the Crater', 'ARNUJQM1187FB3EE72', 2007, 258.0),
 ('SOHRARU12AC468E3DD', 'É Hora Da Virada', 'ARAXZGI1187FB3EB5F', 2003, 188.0),
 ('SOWWZNU12A6D4F9279', "Shakin' Eyes", 'AR4IAEY1187B9A03B8', 0, 354.0),
 ('SOXYPYX12AB0187051', 'Honey_ Do!', 'ARYBXCB11F50C4E0E0', 0, 154.0),
 ('SOJLBSP12A67ADA65A', 'Below', 'ARAOQE51187B9B3DF3', 2002, 451.0)]

In [7]:
%sql SELECT * FROM artists LIMIT 5;

* postgresql://dwhuser:***@dwhcluster.coyjq1h1a8pm.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('AR1ON8N1187B98FE42', 'Pur', 'South Carolina', '33.626460000000002', '-80.947400000000002'),
 ('ARKOXRI1187B9AF886', 'Julius La Rosa', '', None, None),
 ('AR9VN011187B9ADD25', 'The Troggs', 'Andover, Hampshire, England', '51.21349', '-1.4880899999999999'),
 ('ARLRRTC12420780AA2', 'MadlibThe Beat Konducta', '', None, None),
 ('ARCECQ01187FB52B4A', 'Hybrid', 'Swansea', '51.623150000000003', '-3.9409299999999998')]

In [8]:
%sql SELECT * FROM time LIMIT 5;

* postgresql://dwhuser:***@dwhcluster.coyjq1h1a8pm.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 3, 1, 12, 26, 796000), 1, 3, 44, 11, 2018, 6),
 (datetime.datetime(2018, 11, 3, 15, 59, 38, 796000), 15, 3, 44, 11, 2018, 6),
 (datetime.datetime(2018, 11, 3, 16, 34, 3, 796000), 16, 3, 44, 11, 2018, 6),
 (datetime.datetime(2018, 11, 5, 1, 30, 56, 796000), 1, 5, 45, 11, 2018, 1),
 (datetime.datetime(2018, 11, 5, 1, 58, 24, 796000), 1, 5, 45, 11, 2018, 1)]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).