In [2]:
import os, glob
import pandas as pd

cus_df = pd.read_csv("customers.csv")
prod_df = pd.read_csv("products.csv")

cus_df.head()

  customer_id  loyalty_score
0          C1              7
1          C2              4
2          C3              8
3          C4              5
4          C5              7

In [2]:
prod_df.head()

  product_id product_description product_category
0        P01           detergent            house
1        P02        kitchen roll            house
2        P03          bin liners            house
3        P04          shower gel            house
4        P05     scented candles            house

In [3]:
pd.set_option('display.max_colwidth', None)

filepath = "/home/dit/DiT/GitHub/Pylingo/Jupyters/DE/starter/transactions"

all_files = []
for root, dirs, files in os.walk(filepath):
    files = glob.glob(os.path.join(root,'*.json'))
    for f in files :
        all_files.append(os.path.abspath(f))


dfs = []
for what in all_files:
    a = pd.read_json(what, lines=True)
    dfs.append(a)

trans_df = pd.concat(dfs, ignore_index=True)
trans_df.head(10)

,customer_id,basket,date_of_purchase
0,C1,"[{'product_id': 'P61', 'price': 597}]",2020-08-23 10:19:17.490059
1,C6,"[{'product_id': 'P53', 'price': 1694}, {'product_id': 'P55', 'price': 1246}]",2020-08-23 11:52:17.490059
2,C17,"[{'product_id': 'P35', 'price': 1560}, {'product_id': 'P39', 'price': 1218}]",2020-08-23 02:48:17.490059
3,C21,"[{'product_id': 'P18', 'price': 1660}, {'product_id': 'P19', 'price': 319}]",2020-08-23 01:43:17.490059
4,C35,"[{'product_id': 'P53', 'price': 165}]",2020-08-23 03:48:17.490059
5,C38,"[{'product_id': 'P63', 'price': 30}, {'product_id': 'P61', 'price': 157}, {'product_id': 'P62', 'price': 557}]",2020-08-23 12:31:17.490059
6,C41,"[{'product_id': 'P58', 'price': 1551}, {'product_id': 'P56', 'price': 1970}, {'product_id': 'P42', 'price': 1692}]",2020-08-23 00:30:17.490059
7,C53,"[{'product_id': 'P36', 'price': 1423}]",2020-08-23 13:19:17.490059
8,C55,"[{'product_id': 'P63', 'price': 128}]",2020-08-23 05:09:17.490059
9,C57,"[{'product_id': 'P24', 'price': 1001}, {'product_id': 'P26', 'price': 832}, {'product_id': 'P32', 'price': 327}]",2020-08-22 22:11:17.490059

In [4]:
trans_df.shape

(2229, 3)

In [3]:
trans_df.customer_id.value_counts()

C31    30
C93    30
C17    30
C95    30
C77    30
       ..
C87     6
C74     6
C47     6
C88     6
C56     6
Name: customer_id, Length: 137, dtype: int64

In [5]:
df = trans_df.explode("basket")
df.head(10)

,customer_id,basket,date_of_purchase
0,C1,"{'product_id': 'P61', 'price': 597}",2020-08-23 10:19:17.490059
1,C6,"{'product_id': 'P53', 'price': 1694}",2020-08-23 11:52:17.490059
1,C6,"{'product_id': 'P55', 'price': 1246}",2020-08-23 11:52:17.490059
2,C17,"{'product_id': 'P35', 'price': 1560}",2020-08-23 02:48:17.490059
2,C17,"{'product_id': 'P39', 'price': 1218}",2020-08-23 02:48:17.490059
3,C21,"{'product_id': 'P18', 'price': 1660}",2020-08-23 01:43:17.490059
3,C21,"{'product_id': 'P19', 'price': 319}",2020-08-23 01:43:17.490059
4,C35,"{'product_id': 'P53', 'price': 165}",2020-08-23 03:48:17.490059
5,C38,"{'product_id': 'P63', 'price': 30}",2020-08-23 12:31:17.490059
5,C38,"{'product_id': 'P61', 'price': 157}",2020-08-23 12:31:17.490059

In [6]:
basket_df = df['basket'].apply(pd.Series)
basket_df.head()

  product_id  price
0        P61    597
1        P53   1694
1        P55   1246
2        P35   1560
2        P39   1218

In [7]:
df_flat = pd.concat([df, basket_df], axis=1)
df_flat.head(10)

,customer_id,basket,date_of_purchase,product_id,price
0,C1,"{'product_id': 'P61', 'price': 597}",2020-08-23 10:19:17.490059,P61,597
1,C6,"{'product_id': 'P53', 'price': 1694}",2020-08-23 11:52:17.490059,P53,1694
1,C6,"{'product_id': 'P55', 'price': 1246}",2020-08-23 11:52:17.490059,P55,1246
2,C17,"{'product_id': 'P35', 'price': 1560}",2020-08-23 02:48:17.490059,P35,1560
2,C17,"{'product_id': 'P39', 'price': 1218}",2020-08-23 02:48:17.490059,P39,1218
3,C21,"{'product_id': 'P18', 'price': 1660}",2020-08-23 01:43:17.490059,P18,1660
3,C21,"{'product_id': 'P19', 'price': 319}",2020-08-23 01:43:17.490059,P19,319
4,C35,"{'product_id': 'P53', 'price': 165}",2020-08-23 03:48:17.490059,P53,165
5,C38,"{'product_id': 'P63', 'price': 30}",2020-08-23 12:31:17.490059,P63,30
5,C38,"{'product_id': 'P61', 'price': 157}",2020-08-23 12:31:17.490059,P61,157

In [9]:
df_flat.shape

(4497, 5)