In [5]:
import os, glob
import pandas as pd

cus_df = pd.read_csv("customers.csv")
prod_df = pd.read_csv("products.csv")

cus_df.head()

  customer_id  loyalty_score
0          C1              7
1          C2              4
2          C3              8
3          C4              5
4          C5              7

In [6]:
prod_df.head()

  product_id product_description product_category
0        P01           detergent            house
1        P02        kitchen roll            house
2        P03          bin liners            house
3        P04          shower gel            house
4        P05     scented candles            house

In [7]:
pd.set_option('display.max_colwidth', None)

filepath = "/home/dit/DiT/GitHub/Pylingo/Jupyters/DE/starter/transactions"

all_files = []
for root, dirs, files in os.walk(filepath):
    files = glob.glob(os.path.join(root,'*.json'))
    for f in files :
        all_files.append(os.path.abspath(f))


dfs = []
for what in all_files:
    a = pd.read_json(what, lines=True)
    dfs.append(a)

trans_df = pd.concat(dfs, ignore_index=True)
trans_df.head(10)

,customer_id,basket,date_of_purchase
0,C1,"[{'product_id': 'P61', 'price': 597}]",2020-08-23 10:19:17.490059
1,C6,"[{'product_id': 'P53', 'price': 1694}, {'product_id': 'P55', 'price': 1246}]",2020-08-23 11:52:17.490059
2,C17,"[{'product_id': 'P35', 'price': 1560}, {'product_id': 'P39', 'price': 1218}]",2020-08-23 02:48:17.490059
3,C21,"[{'product_id': 'P18', 'price': 1660}, {'product_id': 'P19', 'price': 319}]",2020-08-23 01:43:17.490059
4,C35,"[{'product_id': 'P53', 'price': 165}]",2020-08-23 03:48:17.490059
5,C38,"[{'product_id': 'P63', 'price': 30}, {'product_id': 'P61', 'price': 157}, {'product_id': 'P62', 'price': 557}]",2020-08-23 12:31:17.490059
6,C41,"[{'product_id': 'P58', 'price': 1551}, {'product_id': 'P56', 'price': 1970}, {'product_id': 'P42', 'price': 1692}]",2020-08-23 00:30:17.490059
7,C53,"[{'product_id': 'P36', 'price': 1423}]",2020-08-23 13:19:17.490059
8,C55,"[{'product_id': 'P63', 'price': 128}]",2020-08-23 05:09:17.490059
9,C57,"[{'product_id': 'P24', 'price': 1001}, {'product_id': 'P26', 'price': 832}, {'product_id': 'P32', 'price': 327}]",2020-08-22 22:11:17.490059

In [8]:
trans_df.shape

(2229, 3)

In [9]:
trans_df.customer_id.value_counts()

C48    30
C95    30
C67    30
C92    30
C57    30
       ..
C46     6
C56     6
C4      6
C29     6
C9      6
Name: customer_id, Length: 137, dtype: int64

In [10]:
df = trans_df.explode("basket")
df.head(10)

,customer_id,basket,date_of_purchase
0,C1,"{'product_id': 'P61', 'price': 597}",2020-08-23 10:19:17.490059
1,C6,"{'product_id': 'P53', 'price': 1694}",2020-08-23 11:52:17.490059
1,C6,"{'product_id': 'P55', 'price': 1246}",2020-08-23 11:52:17.490059
2,C17,"{'product_id': 'P35', 'price': 1560}",2020-08-23 02:48:17.490059
2,C17,"{'product_id': 'P39', 'price': 1218}",2020-08-23 02:48:17.490059
3,C21,"{'product_id': 'P18', 'price': 1660}",2020-08-23 01:43:17.490059
3,C21,"{'product_id': 'P19', 'price': 319}",2020-08-23 01:43:17.490059
4,C35,"{'product_id': 'P53', 'price': 165}",2020-08-23 03:48:17.490059
5,C38,"{'product_id': 'P63', 'price': 30}",2020-08-23 12:31:17.490059
5,C38,"{'product_id': 'P61', 'price': 157}",2020-08-23 12:31:17.490059

In [11]:
basket_df = df['basket'].apply(pd.Series)
basket_df.head()

  product_id  price
0        P61    597
1        P53   1694
1        P55   1246
2        P35   1560
2        P39   1218

In [12]:
df_flat = pd.concat([df, basket_df], axis=1)
df_flat.head(10)

,customer_id,basket,date_of_purchase,product_id,price
0,C1,"{'product_id': 'P61', 'price': 597}",2020-08-23 10:19:17.490059,P61,597
1,C6,"{'product_id': 'P53', 'price': 1694}",2020-08-23 11:52:17.490059,P53,1694
1,C6,"{'product_id': 'P55', 'price': 1246}",2020-08-23 11:52:17.490059,P55,1246
2,C17,"{'product_id': 'P35', 'price': 1560}",2020-08-23 02:48:17.490059,P35,1560
2,C17,"{'product_id': 'P39', 'price': 1218}",2020-08-23 02:48:17.490059,P39,1218
3,C21,"{'product_id': 'P18', 'price': 1660}",2020-08-23 01:43:17.490059,P18,1660
3,C21,"{'product_id': 'P19', 'price': 319}",2020-08-23 01:43:17.490059,P19,319
4,C35,"{'product_id': 'P53', 'price': 165}",2020-08-23 03:48:17.490059,P53,165
5,C38,"{'product_id': 'P63', 'price': 30}",2020-08-23 12:31:17.490059,P63,30
5,C38,"{'product_id': 'P61', 'price': 157}",2020-08-23 12:31:17.490059,P61,157

In [37]:
df_flat.sort_values(by=['customer_id']).head(20)

,customer_id,basket,date_of_purchase,product_id,price
0,C1,"{'product_id': 'P61', 'price': 597}",2020-08-23 10:19:17.490059,P61,597
1069,C1,"{'product_id': 'P09', 'price': 1061}",2020-09-25 12:52:17.490059,P09,1061
2094,C1,"{'product_id': 'P62', 'price': 1819}",2020-09-21 13:40:17.490059,P62,1819
992,C1,"{'product_id': 'P61', 'price': 797}",2020-10-30 13:01:17.490059,P61,797
992,C1,"{'product_id': 'P63', 'price': 538}",2020-10-30 13:01:17.490059,P63,538
2116,C1,"{'product_id': 'P05', 'price': 271}",2020-08-22 06:11:17.490059,P05,271
2116,C1,"{'product_id': 'P11', 'price': 1003}",2020-08-22 06:11:17.490059,P11,1003
53,C1,"{'product_id': 'P61', 'price': 1131}",2020-08-28 03:04:17.490059,P61,1131
2162,C1,"{'product_id': 'P12', 'price': 1430}",2020-10-22 05:07:17.490059,P12,1430
865,C1,"{'product_id': 'P61', 'price': 254}",2020-08-16 03:18:17.490059,P61,254
865,C1,"{'product_id': 'P62', 'price': 940}",2020-08-16 03:18:17.490059,P62,940
865,C1,"{'product_id': 'P62', 'price': 1023}",2020-08-16 03:18:17.490059,P62,1023
459,C1,"{'product_id': 'P63', 'price': 1572}",2020-10-15 09:19:17.490059,P63,1572
459,C1,"{'product_id': 'P64', 'price': 1487}",2020-10-15 09:19:17.490059,P64,1487
459,C1,"{'product_id': 'P63', 'price': 315}",2020-10-15 09:19:17.490059,P63,315
2162,C1,"{'product_id': 'P07', 'price': 1060}",2020-10-22 05:07:17.490059,P07,1060
53,C1,"{'product_id': 'P63', 'price': 1951}",2020-08-28 03:04:17.490059,P63,1951
53,C1,"{'product_id': 'P62', 'price': 1913}",2020-08-28 03:04:17.490059,P62,1913
1069,C1,"{'product_id': 'P06', 'price': 1350}",2020-09-25 12:52:17.490059,P06,1350
1822,C1,"{'product_id': 'P63', 'price': 684}",2020-10-11 11:54:17.490059,P63,684

In [17]:
merge_df = df_flat.merge(cus_df)
merge_df =  merge_df.merge(prod_df)
merge_df.drop(columns=['basket', 'date_of_purchase', 'product_description', 'price'], inplace=True)

merge_df.head()

  customer_id product_id  loyalty_score product_category
0          C1        P61              7              bws
1          C1        P61              7              bws
2          C1        P61              7              bws
3          C1        P61              7              bws
4          C1        P61              7              bws

In [39]:
merge_df.sort_values(by=['customer_id', 'product_id']).head(20)

     customer_id product_id  loyalty_score product_category
1181          C1        P02              7            house
457           C1        P03              7            house
949           C1        P04              7            house
1121          C1        P05              7            house
878           C1        P06              7            house
879           C1        P06              7            house
1006          C1        P07              7            house
1007          C1        P07              7            house
1008          C1        P07              7            house
521           C1        P09              7            house
522           C1        P09              7            house
523           C1        P09              7            house
1076          C1        P10              7            house
810           C1        P11              7            house
811           C1        P11              7            house
812           C1        P11              7            house
588           C1        P12              7            house
589           C1        P12              7            house
590           C1        P12              7            house
0             C1        P61              7              bws

In [45]:
merge_df['count'] = 1
agg_df = merge_df.groupby(['customer_id', 'product_id'])['count'].count()
agg_df.head(20)

customer_id  product_id
C1           P02            1
             P03            1
             P04            1
             P05            1
             P06            2
             P07            3
             P09            3
             P10            1
             P11            3
             P12            3
             P61           10
             P62            6
             P63           11
             P64            4
C10          P23            1
             P25            1
             P26            1
             P41            1
             P42            1
             P43            1
Name: count, dtype: int64

In [48]:
agg_df.shape

(2174,)

In [46]:
agg_df.to_csv('agg_df.csv')

In [58]:
pd.merge(agg_df,merge_df, left_on=['customer_id', 'product_id'], right_on=['customer_id', 'product_id']).head(30)

   customer_id product_id  count_x  loyalty_score product_category  count_y
0           C1        P02        1              7            house        1
1           C1        P03        1              7            house        1
2           C1        P04        1              7            house        1
3           C1        P05        1              7            house        1
4           C1        P06        2              7            house        1
5           C1        P06        2              7            house        1
6           C1        P07        3              7            house        1
7           C1        P07        3              7            house        1
8           C1        P07        3              7            house        1
9           C1        P09        3              7            house        1
10          C1        P09        3              7            house        1
11          C1        P09        3              7            house        1
12          C1        P10        1              7            house        1
13          C1        P11        3              7            house        1
14          C1        P11        3              7            house        1
15          C1        P11        3              7            house        1
16          C1        P12        3              7            house        1
17          C1        P12        3              7            house        1
18          C1        P12        3              7            house        1
19          C1        P61       10              7              bws        1
20          C1        P61       10              7              bws        1
21          C1        P61       10              7              bws        1
22          C1        P61       10              7              bws        1
23          C1        P61       10              7              bws        1
24          C1        P61       10              7              bws        1
25          C1        P61       10              7              bws        1
26          C1        P61       10              7              bws        1
27          C1        P61       10              7              bws        1
28          C1        P61       10              7              bws        1
29          C1        P62        6              7              bws        1